.App {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Case {
  width: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.Case-top {
  height: 80px;
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 50px 50px;
  border-top-right-radius: 50px 50px;
}

.Case-sides {
  width: 30px;
  background-color: rgb(0, 0, 0);
}

.Case-middle {
  display: flex;
  flex-direction: row;
  min-height: 800px;
}

.Scream {
  width: 375px;
  display: flex;

  flex-direction: column;
}

.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Case-bottom {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 80px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Case-bottom_center {
  background-color: #2e2e2e;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.Case-bottom_sides {
  width: 40px;
}
