body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 20px;
  color: #000;
}

h2 {
  font-size: 20px;
  color: #000;
}
p {
  color: black;
}

code {
  font-family: "DM Sans", sans-serif;
}
